<% provide(:title, "Parabéns!") %>
<div class="row">
  <aside class="col-md-4 col-md-offset-4" style="margin-top:200px;">
    <h1>Parabéns!</h1>
    <p>
      Você ganhou um ticket que dá direito a até 20% de desconto na Casal 20! Acesse o seu email registrado,
      imprima ou tire um print e vá até a Autoescola para ganhar seu desconto!
    </p>
  </aside>
</div>