<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Parabéns!<p>
      </p>
        <%= @user.name %>, você ganhou um ticket que dá direito a até 20% de desconto na Casal 20! Acesse o seu email registrado(<%=@user.email%>),
        imprima ou tire um print e vá até a Autoescola para ganhar seu desconto!
      </h1>
    </section>
  </aside>
</div>